body {
  background-color: blue;
}
#p1 {
  background-color: blue;
  font-size: 20px;
  color: white;
}
#p2 {
  background-color: blue;
  font-size: 20px;
  color: white;
}
#p3 {
  background-color: blue;
  font-size: 20px;
  color: white;
}
#p4 {
  font-size: 20px;
  color: white;
  font-style: italic;
}
.list-1 {
  background-color: silver;
  font-family: sans-serif;
}
img {
  float: right;
}
.sidebar{
  width: 350px;
  float: left;
  background: black;
  align-items: center;
}
.final {
  color: white;
  font-style: italic;
  text-align: center;
}
