body {
  background-color: blue;
}
#p1 {
  background-color: blue;
}
#p2 {
  background-color: blue;
}
#p3 {
  background-color: blue;
}
.list-1 {
  background-color: silver;
  font-family: sans-serif;
}
